*{
    margin: 0;
    padding: 0;
}


body{
    background: black;
    color:whitesmoke
}
h1{
    text-align: center;
}

#name{
    margin-left: 230px;
    margin-top: 40px;
    color:darkorange;
}
  




#main{
    width: 500px;
    height: 500px;
    border: 5px solid yellow;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
   
    justify-content: space-around;
}


#circle{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
}


.score{
    display: flex;
    margin-left: 100px;
    
    margin-top: 20px;
}


#scores{
    display: flex;
    margin-top: 35px;
    margin-left: 250px;
}


#res{
    background: rgb(225, 18, 163);
    color: black;
    height: auto;
    width: 500px;
    margin: auto;
    margin-top: 20px;
}


#btn{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}


input[type="submit"]{
    height: 50px;
    width: 100px;
    background: rgb(137, 241, 72);
    color: black;
    font-size: larger;
    font-weight: bold;
}


.container{
    margin: auto;
    margin-top: 12%;
}
